/************************************************
    Tablet
 ************************************************/
@media (max-width: 768px) {
	.container {
		width: 768px;
    }    
    .text {
        min-width: 180px ;
    }
    .img {
        width: 100%;
    }
    .col {
    padding: 10px;
    }
    
}



/************************************************
    Mobile
 ************************************************/
 @media (max-width: 480px) {
	.container {
		width: 480px;
    }    
    .text {
        min-width: 140px ;
    }
    .row {
        display: block;

   }
   .card  {
        width: 200%;
        align: center;
   }

   .step  {
    width: 200%;
    }
    .col .col-left > img {
        width: 100%;
    }
}