/************************************************
    Tablet
 ************************************************/
@media (max-width: 768px) {
	.container {
		width: 85%;
    }    
    .text {
        min-width: 180px ;
    }
   
    
  
}



/************************************************
    Mobile
 ************************************************/
 @media (max-width: 768px) {
	.container {
		width: 70%;
    }    
    .text {
        min-width: 140px ;
    }
   

}